<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="deleteFormFragment" class="form-horizontal text-center mx-auto font-weight-bold"
     role="form" id="delete-form">

    <div class="form-group">
        <label class="control-label"
               for="idInputDelete">ID</label>
        <input type="text" class="form-control"
               id="idInputDelete" disabled='disabled'/>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="usernameInputDelete">Username</label>
        <input type="text" class="form-control"
               id="usernameInputDelete" disabled='disabled'/>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="emailInputDelete">Email</label>
        <input type="email" class="form-control"
               id="emailInputDelete" disabled='disabled'/>
    </div>

    <div class="form-group">
        <label class="control-label"
               for="rolesInputDelete">Role</label>
        <select class="form-control"
                id="rolesInputDelete"
                multiple="multiple" disabled='disabled'></select>
    </div>
</div>
</body>
</html>